[Proxy]

MSANTLSXadi = vmess, quiz.vidio.com, 80, username=12037d43-a663-4027-9dd3-4c75e991bd92, tls=false, ws=true, ws-path=/vmess, sni=id10.natanvpn.xyz, ws-headers=Host:id7.natanvpn.xyz, skip-cert-verify=1, tfo=true, udp-relay=true

MSATLSxadi = vmess, quiz.vidio.com, 443, username=12037d43-a663-4027-9dd3-4c75e991bd92, tls=true, ws=true, ws-path=/vmess, sni=id10.natanvpn.xyz, ws-headers=Host:id7.natanvpn.xyz, skip-cert-verify=1, tfo=true, udp-relay=true

MSANTLS2adi = vmess, quiz.int.vidio.com, 80, username=12037d43-a663-4027-9dd3-4c75e991bd92, tls=false, ws=true, ws-path=/vmess, sni=id10.natanvpn.xyz, ws-headers=Host:id7.natanvpn.xyz, skip-cert-verify=1, tfo=true, udp-relay=true

MSATLS2Adi = vmess, quiz.int.vidio.com, 443, username=12037d43-a663-4027-9dd3-4c75e991bd92, tls=true, ws=true, ws-path=/vmess, sni=id10.natanvpn.xyz, ws-headers=Host:id7.natanvpn.xyz, skip-cert-verify=1, tfo=true, udp-relay=true

MSANTLS3adi = vmess, quiz.staging.vidio.com, 80, username=12037d43-a663-4027-9dd3-4c75e991bd92, tls=false, ws=true, ws-path=/vmess, sni=id10.natanvpn.xyz, ws-headers=Host:id7.natanvpn.xyz, skip-cert-verify=1, tfo=true, udp-relay=true

MSATLS3adi = vmess, quiz.staging.vidio.com, 443, username=12037d43-a663-4027-9dd3-4c75e991bd92, tls=true, ws=true, ws-path=/vmess, sni=id10.natanvpn.xyz, ws-headers=Host:id7.natanvpn.xyz, skip-cert-verify=1, tfo=true, udp-relay=true

  
